<footer class="page-footer font-small bg-dark pt-4"> 
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white">Siga-nos</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            
            <ul class="redes-sociais">
                <li>
                    <a href="https://github.com/murilo-pm" target="_blank" class="m-0 text-white fs-16"><button type="button" class="btn btn-light">GitHub</button>
                    </a>
                    
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/murilo-p-708885104/" target="_blank" class="m-0 text-white fs-16"><button type="button" class="btn btn-light">LinkedIn</button>
                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com/" target="_blank" class="m-0 text-white fs-16" ><button type="button" class="btn btn-light">Instagram</button>
                    </a>
                </li>
                
            </ul>

        </div>
    </div>

</div>

<div class="footer-copyright bg-secondary text-center py-3">
    <span class="text-light"> Murilo Paulino Machado, 2021.  </span>
    <a class="text-light" target="_blank" href="https://github.com/murilo-pm/blogPessoalUnoAngular/tree/master">Blog Pessoal</a>

</div>
</footer>
